@use "@/shared/assets/styles" as *;


.color-picker {
    width: 100%;
    gap: pxToRem(10);
    @include baseFlex(row, start);


    &__input {
        .colored-box {
            width: 25px;
            height: 25px;
            border-radius: 10%;
            cursor: pointer;
        }

        .colored-popover {
            width: 300px;
            aspect-ratio: 1 / 1;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: display 0.5s ease;
            border-radius: var(--button-br);
            z-index: 100;

            &__colorful {
                @include whFull();
            }
        }
    }

    &__jsx {
        flex: 1 1 auto;
        min-width: 0;
    }
}
