img, svg, button, a {
    text-decoration: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

button, a.link {
    cursor: pointer;
    text-decoration: underline;
    color: var(--color-purple);
}

hr {
    margin-block: 5px;
    color: var(--app-light-color);
    opacity: 0.1;
    width: 100%;
    border-radius: 10%;
}
