@use "@/shared/assets/styles" as *;

.gis-item-right {
    background: transparent;
    padding-block: pxToRem(10);
    display: grid;
    grid-template-rows: 2.5rem auto;
    @include whFull();

    &__title {
        width: 100%;
        text-align: center;
    }

    &__body {
        padding-block: pxToRem(10);
        gap: 5vh;
        @include whFull();
        @include baseFlex(column, start);

        .bgirb-item {
            width: 100%;
            gap: 1vh;
            @include baseFlex(column);

            &:last-of-type {
                margin-top: auto;
            }

            button{
                width: 100%;
                height: pxToRem(50);
            }
        }
    }
}

