@use "@/shared/assets/styles" as *;


.default {
    overflow: hidden;
    background: var(--app-bg);
    @include whFull();
    @include baseFlex();

    &__box {
        max-width: pxToRem($maxViewportWidth);
        overflow: hidden;
        display: grid;
        grid-template-rows: 
            clamp(
                #{pxToRem(60)},
                5vh,
                #{pxToRem(100)}
            )
            auto;
        @include whFull();

        .box-body {
            @include whFull();
        }
    }
}
