@use "@/shared/assets/styles" as *;


:root {
    --app-sel-bg: none;
    --app-sel-color: none;

    --app-scroll-track-bg: none;
    --app-scroll-thumb-bg: none;

    --block-border-radius: #{pxToRem(2.5)};
    --small-block-border-radius: #{pxToRem(10)};
    --block-border-size: #{pxToRem(1.5)};
    --small-block-border-size: #{pxToRem(0.5)};
    --block-bs-size: #{pxToRem(4)};
    --small-block-bs-size: #{pxToRem(2)};

    --block-padding-min: #{pxToRem(10)};
    --small-block-padding-min: #{pxToRem(5)};
    --block-padding-max: #{pxToRem(18)};
    --small-block-padding-max: #{pxToRem(9)};

    --button-br: #{pxToRem(10)};
    --button-bs: #{pxToRem(1)};

    #light {
        --app-bg: #252B38;
        --app-light-color: #C8CDD6;
        --app-dark-color: #C8CDD6;

        --app-sel-bg: #1fb479;
        --app-sel-color: #ddd2d2;

        --app-scroll-track-bg: red;
        --app-scroll-thumb-bg: red;

        --block-bg: red;
        --block-border-color: red;
        --block-bs-color: #ffffff;
        --block-bi-color: #eceff3;
        --block-bm: darken;
        --color-mixin-color: #272727;
    }

    #dark {
        --app-bg: #252B38;
        --app-light-color: #C8CDD6;
        --app-dark-color: #28292c;

        --app-sel-bg: #328b9b;
        --app-sel-color: #ddd2d2;

        --app-scroll-track-bg: red;
        --app-scroll-thumb-bg: red;

        --block-bg: #1f2430;
        --block-border-color: #282c35;
        --block-bs-color: #60636e;
        --block-bi-color: #f1f4f6;
        --block-bm: lighten;
        --color-mixin-color: #e0e0e0;
    }
}

::selection {
    background: var(--app-sel-bg);
    color: var(--app-sel-color);
}

*::-webkit-scrollbar {
    width: pxToRem(8);
    height: auto;
}

*::-webkit-scrollbar-track {
    background: var(--app-scroll-track-bg);
}

*::-webkit-scrollbar-thumb {
    background: var(--app-scroll-thumb-bg);
    border-radius: pxToRem(8);
}

*::-webkit-scrollbar-thumb:hover {
    background: color-mix(
        in oklab,
        var(--app-scroll-thumb-bg) 85%,
        #ffffff
    );
}
