@use "@/shared/assets/styles" as *;


.button {
    --bg-button-color: transparent;

    min-width: 2rem;
    min-height: 1.5rem;
    display: grid;
    grid-column: auto auto;
    transition: transform 0.5s ease, background 0.5s ease;
    text-decoration: none;
    border-radius: var(--button-br);
    padding: pxToRem(2.5);
    padding-inline: pxToRem(5);;
    background-color: color-mix(in srgb, var(--bg-button-color) 90%, black 10%);
    color: color-mix(in srgb, var(--app-light-color) 90%, black 10%);
    border: 2px solid color-mix(in srgb, var(--bg-button-color) 90%, rgb(255, 255, 255) 10%);
    font-weight: 400;
    position: relative;
    overflow: hidden;
    @include baseFlex();
    @include fluidText(14, 12);

    &:disabled {
        opacity: 0.8;
        cursor: not-allowed;
        touch-action: none;

        input[type="file"] {
            display: none;
        }
    }

    &:active:not(&:disabled) {
        transform: scale(0.9);
    }

    &:has(.button__text) {
        gap: pxToRem(2.5);
    }

    input[type="file"] {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        cursor: pointer;
        @include whFull();
    }

    &.btn-icon {
        background-color: var(--bg-button-color);
        border: 0;

        &:hover {
            background-color: color-mix(in srgb, var(--bg-button-color) 50%, transparent 50%);
            backdrop-filter: blur(10);
            box-shadow: 0 0 pxToRem(2.5) color-mix(in srgb, var(--app-light-color) 10%, transparent 90%);
        }
    }

    &__text {
        text-decoration: none;
    }

    &__load {
        @keyframes button-loader-rotate {
            to {
                transform: rotate(360deg);
            }
        }

        position: relative;
        height: 70%;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        flex: 0 0 auto;
        border: 3px solid color-mix(
            in srgb,
            var(--bg-button-color) 70%,
            transparent 30%
        );
        border-top: 3px solid var(--color-mixin-color);
        animation: button-loader-rotate 0.8s linear infinite;
    }

    &__load::after {
        content: '';
        position: absolute;
        width: 80%;
        height: 80%;
        background-color: color-mix(in srgb, var(--bg-button-color) 90%, black 10%);
        border-radius: 50%;
    }

    &__icon {
        > svg, > img {
            width: 100%;
            height: 100%;
        }
    }
}
