@use "@/shared/assets/styles" as *;


.polygon {
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    @include whFull();

    svg {
        background: transparent;
        @include whFull();
    }
}
